header, header p {
    background: #1E2749;
    color: #FAFAFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    align-content: center;
    text-transform: uppercase;
    border: none;
    height: 10%;
    font-size: x-large;
    padding: none;
    margin-top: none;
}

h2 {
    text-align: center;
}

.sectionheader {
    font-size: 25px;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img {
    border-radius: 45px;
    width: 500px;
}

.wrapper {
    width: 100%;
    margin: auto;
}

.list {
    width: 40%;
    margin: auto;
    align-content: center;
    list-style-position: inside;
}
.intro {
    background-color: #30343F;
    color: #FAFAFF;
    }


.aboutme {
    background-color: #E4D9FF;
    color: #1E2749;
}

.contact {
    background-color: #273469;
    color: #FAFAFF;
}

a:link {
    color: #FAFAFF;
}

a:visited {
    color: #E4D9FF;
}

a:hover {
    text-transform: uppercase;
}

a:active {
    text-transform: uppercase;
    font-style: italic;
}