header, header p {
    background: #1E2749;
    color: #FAFAFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    align-content: center;
    text-transform: uppercase;
    border: none;
    height: 15%;
}

.sectionheader {
    font-size: 30px;
}


.intro {
    align-content: center;
    background: #FAFAFF;
    }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

img {
    border-radius: 45px;
}